numpy
pandas
scikit-learn
torch
shap==0.51.0
captum==0.7.0
joblib
matplotlib
seaborn
rich==14.1.0
streamlit
langchain
langchain-huggingface
langchain-groq
langsmith
python-dotenv
huggingface-hub
